@model ProjectCourseManagement.Models.Users;
@using ProjectCourseManagement.Utilities;
@{
    Layout = "";
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập</title>
    <link rel="shortcut icon" type="image/png" href="~/admin/assets/images/logos/loder.png" />
    <link rel="stylesheet" href="~/admin/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="~/admin/assets/images/logos/logoo.jpg" width="180" alt="">
                                </a>
                                <h2><p class="text-center">Đăng nhập</p></h2>
                                <form asp-controller="Login" asp-action="Index" asp-area="Admin" method="post">
                                    <div class="mb-3">
                                        <label for="yourEmail" class="form-label">Email</label>
                                        <input asp-for="Email" type="email" class="form-control" id="yourEmail" required />
                                        <div class="invalid-feedback">Vui lòng nhập email!</div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="yourPassword" class="form-label">Mật khẩu</label>
                                        <input asp-for="PasswordHash" type="password" class="form-control" id="yourPassword" required />
                                        <div class="invalid-feedback">Vui lòng nhập mật khẩu!</div>
                                    </div>
                                    <div class="col-12 text-center text-danger">
                                        <h6>
                                            @Functions._MessageEmail
                                        </h6>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                                            <label class="form-check-label text-dark" for="flexCheckChecked">
                                                Nhớ tài khoản
                                            </label>
                                        </div>
                                        <a class="text-primary fw-bold" href="./index.html">Quên mật khẩu ?</a>
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng nhập</button>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">Chưa có tài khoản?</p>
                                        <a class="text-primary fw-bold ms-2" href="https://localhost:7256/admin/register">Đăng ký</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>