@model IList<Menu>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            @foreach (var menu in Model.Where(m => m.Levels == 1).OrderBy(p => p.MenuOrder))
                                            {
                                                var Pid = menu.MenuID;
                                                var Smenu = Model.Where(p => p.ParentID == Pid).OrderBy(p => p.MenuOrder).ToList();
                                                if (Smenu.Count == 0)
                                                {
                                                    <li class="nav-item"><a href="index.html" class="nav-link">@menu.MenuName</a></li>
                                                }
                                                else
                                                {
                                                    <li class="nav-item dropdown">
                                                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@menu.MenuName</a>
                                                        <ul class="dropdown-menu">
                                                            @foreach (var smn in Smenu)
                                                            {
                                                                <li><a href="blog.html" class="dropdown-item">@smn.MenuName</a></li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                            <!-- Button -->
                                            <li class="button-header margin-left "><a href="#" class="btn">Tham gia</a></li>
                                            <li class="button-header"><a href="login.html" class="btn btn3">Đăng nhập</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
